@font-face {
    font-family: monster;
    src: url("../fonts/Montserrat-Medium.otf")
}

@font-face {
    font-family: monster-text;
    src: url("../fonts/Montserrat-Regular.otf")
}

@font-face {
    font-family: monster-title;
    src: url("../fonts/Montserrat-Bold.otf")
}

@font-face {
    font-family: monster-min;
    src: url("../fonts/Montserrat-Light.otf")
}

body {
    margin: 0px;
    padding: 0px;
    font-family: monster;
    color: white;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bt-social {
    right: 0px;
    top: 0px;
}

#content {
    position: absolute;
}

.img-paralax {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 1500px;
}

#layer {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-alpha {
    background-color: #ff8f00;
}

.bg-alpha2 {
    background-color: #424242;
}

.bg-white-edit {
    background-color:rgb(239, 239, 239);
}

.text-alpha {
    color: #ff8f00;
}

.text-white-edit {
    color: rgb(239, 239, 239);
}

.desc {
    font-size: 0.7rem;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.w-75 {
    width: 75%;
}

.w-65 {
    width: 65%;
}

.w-25 {
    width: 25%;
}

.end {
    
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.monster-title {
    font-family: monster-title;
}

.monster-min {
    font-family: monster-min;
}

.text-title {
    font-size: 4rem;
}

.center {
    text-align: center;
}

.anim-title {
    position: relative;
    animation: openAnimation 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

.anim-bt1 {
    animation: animBt 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.anim-bt2 {
    animation: animBt 2s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

.bg-author {
    background-color: whitesmoke;
}

@keyframes animBt {
    from {
        transform: translateX(1000%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes openAnimation {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}


@media screen and (max-width: 720px) {
    p {
      font-size: 1.3rem;
    }
  }

